.root{
    -fx-background-color: rgb(107, 171, 232);
}

#btnContinuar{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnCancelar{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#SmbEnviar{
    -fx-text-fill: black;
    -fx-border-radius: 2px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnAplicar{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnLogin{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnConfig{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnCambiarCuenta{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnSelectFile{
    -fx-text-fill: black;
    -fx-border-radius: 2px;
    -fx-background-color: rgb(211, 211, 211);
    -fx-border-color: black;
}

#BtnInsertar{
    -fx-text-fill: black;
    -fx-border-radius: 2px;
    -fx-background-color: rgb(211, 211, 211);
    -fx-border-color: black;
}

#btnLogin:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#btnContinuar:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#btnCancelar:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#btnAplicar:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#btnConfig:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#btnCambiarCuenta:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#TfPass{
    -fx-border-radius: 10px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}
#TfPass:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 10px;
    -fx-border-color: rgb(255, 255, 255);
}

#TfUsuario{
    -fx-border-radius: 8px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#TfUsuario:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 80px;
    -fx-border-color: rgb(255, 255, 255);
}

#TfContra{
    -fx-border-radius: 8px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#TfContra:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 80px;
    -fx-border-color: rgb(255, 255, 255);
}

#LvCuentas{
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.list-cell .virtual-flow .scroll-bar:vertical,
.list-cell .virtual-flow .scroll-bar:vertical .track,
.list-cell .virtual-flow .scroll-bar:vertical .track-background,
.list-cell .virtual-flow .scroll-bar:horizontal,
.list-cell .virtual-flow .scroll-bar:horizontal .track,
.list-cell .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}



.list-cell .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  -hlight-gradient;
}

.list-cell .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.list-cell .virtual-flow .scroll-bar .increment-button,
.list-cell .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}



.list-cell,
.list-cell .column-header,
.list-cell .column-header-background .filler,
.list-cell .corner {
    -fx-background-color: transparent;
}

.list-cell .column-header-background{
    -fx-background-color: -hlight-gradient;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.list-cell .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.list-cell :hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: -tertiary;
}

.list-cell :odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.list-cell :even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.list-cell : highlighted {
    -fx-background-color: -primary;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.list-cell : selected {
    -fx-background-color: -tertiary;
    -fx-text-background-color: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}
#btnVerTabla{
    -fx-border: none;
    -fx-text-fill: black;
}

#TfDestinatarios{
    -fx-border-color: black;
}

#TfAsunto{
    -fx-border-color: black;
}

#TaMensaje{
    -fx-border-color: black;
}

#lvAdjuntos{
    -fx-border-color: black;
}

#CurrentPassword{
    -fx-border-color: black;
}

#NewPassword{
    -fx-border-color: black;
}

.shadow-pane{
   -fx-background-color: transparent;
   -fx-padding: 10px;
}

   */*
 * Empty Stylesheet file.
 */

.root{
    -fx-background-color: #262626;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#3ad13a 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}*