.root{
    -fx-background-color: rgb(86, 161, 231);
}

#btnContinuar{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnCancelar{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#SmbEnviar{
    -fx-text-fill: black;
    -fx-border-radius: 2px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnAplicar{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnLogin{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnConfig{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnCambiarCuenta{
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnSelectFile{
    -fx-text-fill: black;
    -fx-border-radius: 2px;
    -fx-background-color: rgb(211, 211, 211);
    -fx-border-color: black;
}

#BtnInsertar{
    -fx-text-fill: black;
    -fx-border-radius: 2px;
    -fx-background-color: rgb(211, 211, 211);
    -fx-border-color: black;
}

#btnLogin:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#btnContinuar:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#btnCancelar:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#btnAplicar:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#btnConfig:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#btnCambiarCuenta:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#TfPass{
    -fx-border-radius: 10px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}
#TfPass:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 10px;
    -fx-border-color: rgb(255, 255, 255);
}

#TfUsuario{
    -fx-border-radius: 8px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#TfUsuario:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 80px;
    -fx-border-color: rgb(255, 255, 255);
}

#TfContra{
    -fx-border-radius: 8px;
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#TfContra:hover{
    -fx-display: inline-block;
    -fx-overflow: hidden;
    -fx-transition: 0.2s;
    -fx-border-radius: 80px;
    -fx-border-color: rgb(255, 255, 255);
}

#LvCuentas{
    -fx-background-color: rgb(86, 161, 231);
    -fx-border-color: black;
}

#btnVerTabla{
    -fx-border: none;
    -fx-text-fill: black;
}

#TfDestinatarios{
    -fx-border-color: black;
}

#TfAsunto{
    -fx-border-color: black;
}

#TaMensaje{
    -fx-border-color: black;
}

#lvAdjuntos{
    -fx-border-color: black;
}

#CurrentPassword{
    -fx-border-color: black;
}

#NewPassword{
    -fx-border-color: black;
}